.desing-config-content {
    color: #ffffff;
    font-size: 12px;

    .general-content {
        padding: 15px 20px;
    }
    .base-item {
        font-size: 12px;
        display: flex;
        align-items: center;
        padding: 5px 0;

        .base-right {
            position: relative;
            display: flex;
            justify-content: space-between;
            align-items: center;
            width: 190px;
            margin-left: 10px;
        }
        .base-label {
            width: 100px;
        }
    }

    .ant-collapse > .ant-collapse-item > .ant-collapse-header,
    .ant-collapse-content {
        color: #ffffff;
    }
    .ant-collapse-header,
    .ant-collapse-ghost > .ant-collapse-item > .ant-collapse-content {
        border-bottom: 1px solid #2E343C;
    }
    .ant-collapse-ghost > .ant-collapse-item > .ant-collapse-content {
        background-color: #121212;
    }
}