.kanban-manage-container {
	height: 100vh;
	background-color: #1C2026;
	border-left: 1px solid #000000;
	overflow: hidden;
	z-index: 10;
	padding-top: 20px;

	.ant-tabs-nav-list {
		width: 100%;
		padding: 6px 50px;
		color: white;

		.ant-tabs-tab {
			margin-right: 60px;
		}
	}
}

.source-fields-table {

	.ant-table-thead>tr>th,
	.row-class-name {
		background-color: #1C2026;
		color: #bcc9d4;
	}

	.ant-table-content>table {
		border-top: 1px solid #666666 !important;
	}

	.ant-table-tbody {
		background-color: #303943;
	}

	.ant-table-thead>tr>th,
	.ant-table-tbody>tr>td {
		border-bottom: 1px solid #666666;
		border-right: 1px solid #666666;
		font-size: 13px;
	}

	.ant-table-container table>tbody>tr td:first-child,
	.ant-table-container table>thead>tr:first-child th:first-child {
		border-left: 1px solid #666666;
	}

	.ant-table-row-selected>td,
	.ant-table-tbody>tr:hover>td {
		background-color: #212e3e !important;
	}

	::-webkit-scrollbar,
	.ant-table-cell-scrollbar {
		display: none;
	}
}